.next
node_modules
out
dist
coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
/alpaslan2-HPP
/ilisu
/arma-tablea.png
/Arma-Logo.png
/ArmaLightBackGroundLogo.svg
/ArmaDarkBackgroundLogo.svg
